<!DOCTYPE html>
<html>

<body style="background: greenyellow;">

    <a href='https://flask.palletsprojects.com/en/stable/quickstart/'>Visit Website</a>
    <br><br>

    <h2>My Image</h2>

    <img src="{{ url_for('static', filename='abc.jpg') }}" width="300">
    <br><br>

    <h2>Upload Image</h2>

    <input type="file" accept="image/*" onchange="loadImage(event)">

    <br><br>

    <img id="preview" width="300">

    <script>
        function loadImage(event) {
            var image = document.getElementById("preview");
            image.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>

</body>

</html>